In [4]:
import pandas as pd

In [5]:
from vega_datasets import data

In [11]:
df = data.stocks()
pd.DatetimeIndex(df['date'], freq='infer').to_period(freq='M')

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
               '2000-09-01', '2000-10-01',
               ...
               '2009-06-01', '2009-07-01', '2009-08-01', '2009-09-01',
               '2009-10-01', '2009-11-01', '2009-12-01', '2010-01-01',
               '2010-02-01', '2010-03-01'],
              dtype='datetime64[ns]', name='date', length=560, freq=None)

In [36]:
# pd.DatetimeIndex(df[df["symbol"]=="MSFT"], freq='infer')

In [ ]:
.to_timestamp('M')

In [ ]:
['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
 '2000-07', '2000-08', '2000-09', '2000-10',
 ...
 '2009-06', '2009-07', '2009-08', '2009-09', '2009-10', '2009-11',
 '2009-12', '2010-01', '2010-02', '2010-03']

### Tutorial
1) How to convert regular CSV stuff to datetime in Pandas: .to_datetime(format=...)

        pd.to_datetime(['01-01', '02-01', '03-01'],format="%m-%d")
    
2) Advanced Date manipulation : supporting DateTimeIndex, PeriodIndex, Timestamp Objects
    - Introduce: to_period for truncation if desired
    
3) Querying in Lux with datetime fields
    - can use string representation shown in df to access data (filter example)
        df[df.date=='2009-11-01']

In [79]:
pd.to_datetime(['01-01', '02-01', '03-01'],format="%m-%d")

DatetimeIndex(['1900-01-01', '1900-02-01', '1900-03-01'], dtype='datetime64[ns]', freq=None)

In [39]:
pd.DatetimeIndex(['2018-01-01', '2019-02-01', '2018-03-01']).to_period(freq='M')

PeriodIndex(['2018-01', '2019-02', '2018-03'], dtype='period[M]', freq='M')

In [42]:
df.date = pd.DatetimeIndex(df.date).to_period(freq='M')

In [50]:
pd.DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01'])

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01'], dtype='datetime64[ns]', freq=None)

In [44]:
pd.DatetimeIndex?

In [67]:
df = data.stocks()
# df["date"] = pd.DatetimeIndex(df["date"]).to_period(freq='M')

In [69]:
df

    symbol       date   price
0     MSFT 2000-01-01   39.81
1     MSFT 2000-02-01   36.35
2     MSFT 2000-03-01   43.22
3     MSFT 2000-04-01   28.37
4     MSFT 2000-05-01   25.45
..     ...        ...     ...
555   AAPL 2009-11-01  199.91
556   AAPL 2009-12-01  210.73
557   AAPL 2010-01-01  192.06
558   AAPL 2010-02-01  204.62
559   AAPL 2010-03-01  223.02

[560 rows x 3 columns]

In [73]:
df[df.date=='2009-11-01']

    symbol       date   price
118   MSFT 2009-11-01   29.27
241   AMZN 2009-11-01  135.91
364    IBM 2009-11-01  125.79
432   GOOG 2009-11-01  583.00
555   AAPL 2009-11-01  199.91

In [52]:
pd.api.types.is_datetime64_any_dtype(df.date)

False

In [18]:
dateIdx = pd.DatetimeIndex(['2018-01-01', '2019-02-01', '2018-03-01'])

In [ ]:
#use getattr

In [25]:
dateIdx.year

Int64Index([2018, 2019, 2018], dtype='int64')

In [26]:
dateIdx.month

Int64Index([1, 2, 3], dtype='int64')

In [22]:
dateIdx.day #--> len(unique())=1 --> min granularity = 'month'

Int64Index([1, 1, 1], dtype='int64')

In [24]:
dateIdx.minute #--> sum()==0 --> min granularity = 'day'

Int64Index([0, 0, 0], dtype='int64')

In [27]:
dateIdx.second

Int64Index([0, 0, 0], dtype='int64')

In [28]:
# start from lowest granularity

In [ ]:
%Y-%M-%D
%Y-%M